.header {
  background-color: black;
  background-image: url("/assets/images/aliens.png");
  background-repeat: repeat;
  color: magenta;
  min-height: 400px;
  padding: 180px 20px; 
  padding-bottom: 140px;
  text-align: center;
}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem;
}
